.scene {
	height: 650vh;
  position: relative;
}
.layer {
  z-index: -1;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	position: fixed; 
  top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 0 300vh;
}

.layer:nth-child(1) { animation-name: animation-1; }
@keyframes animation-1 { to { scale: 1.15; } }

.layer:nth-child(2) { animation-name: animation-2; }
@keyframes animation-2 { to { scale: 1.275; } }

.layer:nth-child(3) { animation-name: animation-3; }
@keyframes animation-3 { to { scale: 1.4; } }

.layer:nth-child(4) { animation-name: animation-4; }
@keyframes animation-4 { to { scale: 1.75;} }

.layer:nth-child(5) {
	opacity: 0;
	animation-range: 200vh 700vh;
	animation-name: animation-end;
}
@keyframes animation-end { 30% { opacity: 1; } 50% {transform: scale(1.3)} 70% {opacity: 1; transform: translateY(0) scale(1.3);} to { opacity: 1; transform: translateY(-100%) scale(1.3)}}

.layer__content {
	padding: calc(20px + 16vh) calc(20px + 2vw);
  background-color: var(--third-color);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px var(--main-color);
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 0 45vh;
	animation-name: animation-head;
}
@keyframes animation-head { to { opacity: 0; filter: blur(20px); } }

.layer__content h1 {
  width: min-content;
	font-size: calc(30px + 2vw);
  font-weight: 700;
  color: var(--second-color);
	text-align: center;
  line-height: var(--line-height);
}
.layer__end h3 {
  text-transform: uppercase;
	font-size: calc(24px + 1.2vw);
  text-align: center;
	letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
	position: relative;
}
.layer__end {
  width: min-content;
}
.layer__end::before {
	content: '';
	background-color: var(--second-color);
	inset: 0;
	position: absolute;
	opacity: 0;
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 350vh 500vh;
	animation-name: animation-bg;
}
@keyframes animation-bg { to { opacity: 1; }}

.header {
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url('images/main.jpg');
  background-size: cover;
  background-position: center;
}

.header__title {
  font-size: calc(40px + 3vw);
  font-weight: 700;
  text-align: center;
  color: var(--second-color);
  text-shadow: 0 0 40px var(--main-color);
}

.header__desc {
  font-size: calc(20px + 0.6vw);
  font-weight: 500;
  text-align: center;
  color: var(--second-color);
  text-shadow: 0 0 40px var(--main-color);
}

.company-info {
  padding: calc(20px + 1vw);
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: calc(20px + 1vw);
  background-image: url(images/gray-background.jpg);
}

.company-info__image {
  width: 30%;
}

.company-info__description {
  width: 70%;
  font-size: calc(20px + 0.5vw);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-color);
}

.company-info__features {
  margin: 5vw;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  gap: calc(10px + 1vw);
}

.feature {
  min-width: max-content;
  font-size: calc(20px + 0.5vw);
  font-weight: 300;
  color: var(--second-color);
  text-shadow: 0 0 40px var(--main-color);
  white-space: pre-line;
}

.feature_bold {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .company-info__image {
    width: 50%;
  }
  .company-info__description {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .company-info {
    flex-flow: column;
  }
  .company-info__image {
    width: 100%;
  }
  .company-info__description {
    width: 100%;
  }
}

.apartment-complex {
  padding: 2vw 0;
  background-image: url(images/white-background.jpg);
}

.apartment-complex__title {
  width: 100%;
  font-size: calc(24px + 1.5vw);
  font-weight: 400;
  text-align: center;
  color: var(--third-color);
  animation-timeline: scroll();
  animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 560vh 630vh;
	animation-name: complex-title-bg;
}
@keyframes complex-title-bg { from { transform: translateX(-50%); } to { transform: translateX(0); }}

.complexes {
  padding: 3vw;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 5vw;
}

.complex {
  display: flex;
  flex-flow: column;
  gap: 0.5vw;
}

.complex__image {
  width: calc(200px + 15vw);
  height: calc(200px + 15vw);
  overflow: hidden;
}

.complex__image img {
  width: 100%;
  height: auto;
}

.complex__name {
  font-size: calc(20px + 0.3vw);
  font-weight: 900;
  color: var(--third-color);
}

.complex__metro {
  font-size: calc(14px + 0.3vw);
  font-weight: 500;
  color: var(--third-color);
}